html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: rgba(0, 0, 0, 0.4) url(./background.jpg) center/cover no-repeat;

  margin: 0;
  font-style: "Roboto", sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 800px;
  color: grey;
}

h1 {
  font-weight: 500;
  font-size: 35px;
  line-height: 1.5;
  color: rgb(13, 12, 12);
  text-align: center;
}
.form-container {
  margin-bottom: 15px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.hint {
  margin-bottom: 10px;
  padding-top: 10px;
  margin-left: 20px;
  font-size: 12px;
  font-weight: bold;
}

.hidden {
  display: none;
}

form {
  display: flex;
}

.instructions {
  padding: 16px;
  border: 1px solid gray;
  width: 70%;
  font-size: 16px;
  border-radius: 40px;
  line-height: 20px;
  box-sizing: border-box;
}

.button {
  margin-left: 10px;
  background: gray;
  color: white;
  border: none;
  border-radius: 50px;
  width: 20%;
  font-size: 16px;
  padding: 16px;
}

.poem {
  font-size: 15px;
  background-color: whitesmoke;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid gray;
}

footer {
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  bottom: 0;
  margin-bottom: 40px;
  position: relative;
  color: rgb(82, 82, 82);
  font-weight: 600;
  background-color: white;
}

a {
  color: brown;
  font-weight: bold;
}

.name {
  color: brown;
}

.waiting {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@media (max-width: 900px) {
  body {
    margin: 0;
  }

  h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
  }

  .container {
    margin: 60px auto;
    max-width: 100%;
    display: flexbox;
    padding: 0 5px;
  }

  .form-container {
    margin-bottom: 5px;
    padding: 15px;
  }

  .instructions {
    width: 100%;
    font-size: 12px;
    line-height: 10px;
    box-sizing: border-box;
  }

  .button {
    margin-left: 10px;
    width: 100%;
    font-size: 12px;
    padding: 5px;
  }
  .hint {
    margin-left: 0; /* Center hint */
    text-align: center;
  }

  .poem {
    font-size: 14px;
    padding: 15px;
    line-height: 1.5;
  }

  footer {
    margin-bottom: 20px;
    font-size: 10px;
  }
}
